@model List<Article>
<div class="col-md-8">
    <h3 class="mb-4">Blog Listesi</h3>

    @foreach(var item in Model)
    {
        <!-- Blog 1 -->
        <div class="card mb-4">
            <img src="@item.CoverImageUrl" class="card-img-top" alt="Blog Kapak">
            <div class="card-body">
                <h5 class="card-title">@item.Title</h5>
                <p class="card-text">
                    <small class="text-muted">Kategori: @item.Category.CategoryName | Yazar: @item.AppUser.UserName | Tarih: @item.CreatedDate.ToString("dd-MMM-yyyy")</small>
                </p>
                <p class="card-text">@item.Detail.Substring(0,10)... <a href="">Devamını Oku</a></p>
            </div>
        </div>
    }
    

    
</div>